@page "/fetchdata"
@using CloudnessMarketplace.Shared.Models
@using CloudnessMarketplace.Shared.Responses
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.IconUrl</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private CategoryDto[]? categories;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<ApiResponse<CategoryDto[]>>("api/GetCategories");
        categories = result?.Data;
    }

}
