<nav class="nav-menu">
        <a href="#" class="nav-button shadow-01"><i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i></a>

        <AuthorizeView>
            <Authorized>

            </Authorized>
            <NotAuthorized>
                <a href="#" class="nav-button shadow-01"></i></a>
            </NotAuthorized>
        </AuthorizeView>
        
</nav>

@code {

}