@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav class="nav-menu">
	<div class="container nav-flex">
		<IconButton Icon="Home" />

		<AuthorizeView>
			<Authorized>
				<div class="horizontal-items">
					<h6 style="margin-right:3px;" class="text-light">Hi @context.User.Identity?.Name!</h6>
					<IconButton Icon="Signout" OnClick="BeginLogout" />
				</div>
			</Authorized>
			<NotAuthorized>
				<IconButton Icon="Signin" OnClick="Signin" />
			</NotAuthorized>
		</AuthorizeView>

	</div>
</nav>

@code {

	private void Signin()
	{
		Navigation.NavigateTo("authentication/login");
	}

	private async Task BeginLogout()
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo("authentication/logout");
	}


}